
<h1>THis is HomePage,Hello, <%= name %>!</h1>
<p>you are <%= age * 7 %> years old in dog years.</p>
    <% 
        let status
        if (age<32) {
        status = 'young'
        } else {
        status = 'experienced'
        } 
    %>
<h3>This means you are <%=status%>!</h3>

